.hidden{
	display: none!important;
}
.center {
  margin: auto;
  width: 50%;
  border: 1px solid #000000;
  padding: 10px;
}
.profile-image{
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 20%;
    padding-bottom : 10px;

}

.image-class{
    width : 70%;
}